@using System.Security.Claims

@using Microsoft.AspNetCore.Components.Authorization
<!doctype html>
<html lang="tr">
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="">
    <meta name="Author" content="">
    <meta name="Keywords" content="">

    <!-- Title -->
    <title>Odi App Yönetim Paneli </title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/brand/logo.png" type="image/png">

    <!-- Bootstrap css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" id="style">


    <!-- Icons css -->
    <link href="~/css/icons.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/plugins.css" rel="stylesheet">

    <!-- Animations css -->
    <link href="~/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/5.1.0/css/bootstrap-toaster.min.css" integrity="sha512-613efYxCWhUklTCFNFaiPW4q6XXoogGNsn5WZoa0bwOBlVM02TJ/JH7o7SgWBnJIQgz1MMnmhNEcAVGb/JDefw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script>
    @RenderSection("customstyles", false)
</head>

<body id="body" class="main-body app sidebar-mini ltr " ng-app="myApp" ng-controller="myCtrl">

    <!-- Loader -->
    <div id="global-loader" ng-if="loading">
        <img src="~/img/loaders/loader-4.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- page -->
    <div class="page custom-index">

        <!-- main-header -->
        <div class="main-header side-header sticky nav nav-item">
            <div class="container-fluid main-container ">
                <div class="main-header-left ">
                    <div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar">
                        <a class="open-toggle" href="javascript:void(0);"><i class="header-icons" data-eva="menu-outline"></i></a>
                        <a class="close-toggle" href="javascript:void(0);"><i class="header-icons" data-eva="close-outline"></i></a>
                    </div>
                    <div class="responsive-logo">
                        <a href="~/dashboard" class="header-logo">Tasarım Balonu</a>
                        @*<a href="index.html" class="header-logo">Tasarım Balonu</a>*@
                    </div>
                </div>
                <button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                </button>
                <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0  mg-lg-s-auto">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="main-header-right">

                            <div class="nav nav-item  navbar-nav-right mg-lg-s-auto">
                                <div class="dropdown main-profile-menu nav nav-item nav-link">
                                    <a class="profile-user d-flex" href="javascript:void(0)"><img src="~/images/user.png" alt="user-img" class="rounded-circle mCS_img_loaded"><span></span></a>

                                    <div class="dropdown-menu">
                                        <div class="main-header-profile header-img bg-primary rounded-top-5 p-3">
                                            <h6> @User.FindFirst("AdSoyad").Value</h6><@* span>@User.FindFirst(ClaimTypes.Email).Value</span> *@
                                        </div>
                                        @*<a class="dropdown-item" href="#"><i class="fe fe-user"></i> Profilim</a>*@
                                        <a class="dropdown-item" href="~/yonetim/sifre-degistir"><i class="fe fe-unlock"></i>Şifre Değiştir</a>
                                        @* <form method="post" asp-page="/Logout" style="">
                                        <button type="submit" class="dropdown-item"><i class="fe fe-log-out"></i>Çıkış</button>
                                        </form>*@
                                        <a class="dropdown-item" href="~/yonetim/logout"><i class="fe fe-log-out"></i> Çıkış</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main-header -->
        <!-- main-sidebar -->
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="sticky">
            <aside class="app-sidebar sidebar-scroll">
                <div class="main-sidebar-header active">
                    <a class="desktop-logo logo-light active" href="~/"><img src="~/img/brand/logo.png" class="main-logo" alt="logo"></a>
                    <a class="desktop-logo logo-dark active" href="~/"><img src="~/img/brand/logo.png" class="main-logo" alt="logo"></a>
                    <a class="logo-icon mobile-logo icon-light active" href="~/"><img src="~/img/brand/favicon.png" alt="logo"></a>
                    <a class="logo-icon mobile-logo icon-dark active" href="~/"><img src="~/img/brand/favicon-white.png" alt="logo"></a>
                </div>
                <div class="main-sidemenu">
                    <div class="main-sidebar-loggedin">
                        <div class="app-sidebar__user">
                            <div class="dropdown user-pro-body text-center">
                                <div class="user-pic">
                                    <img src="~/images/user.png" alt="user-img" class="rounded-circle mCS_img_loaded">
                                </div>
                                <div class="user-info mb-4">
                                    <h6 class=" mb-0 text-dark">@User.FindFirst("AdSoyad").Value</h6>
                                    <span class="text-muted app-sidebar__user-name text-sm">@* @User.FindFirst(ClaimTypes.Email).Value *@</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" /></svg></div>
                    <ul class="side-menu ">
                        <li class="slide">
                            <a class="side-menu__item" href="/"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><i class="side-menu__icon fe fe-settings"></i><span class="side-menu__label">Uygulama Ayarları</span><i class="angle fe fe-chevron-down"></i></a>
                            <ul class="slide-menu">
                                <li class="panel sidetab-menu">
                                    <div class="panel-body tabs-menu-body p-0 border-0">
                                        <div class="tab-content">
                                            <div class="tab-pane tab-content-show active" id="side11">
                                                <ul class="sidemenu-list">
                                                    <li><a class="slide-item" href="~/uygulama-ayarlari/kullanilan-diller">Kullanılan Diller</a></li>
                                                    <li><a class="slide-item" href="~/uygulama-ayarlari/telefon-kodlari">Telefon Kodları</a></li>
                                                    <li><a class="slide-item" href="~/uygulama-ayarlari/kayit-gruplari">Kayıt Grupları</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">CV Ayarları</span><i class="angle fe fe-chevron-down"></i></a>
                            <ul class="slide-menu">
                                <li class="panel sidetab-menu">
                                    <div class="panel-body tabs-menu-body p-0 border-0">
                                        <div class="tab-content">
                                            <div class="tab-pane tab-content-show active" id="side11">
                                                <ul class="sidemenu-list">
                                                    <li><a class="slide-item" href="~/cv-ayarlari/fiziksel-ozellik-tipleri">Fiziksel Özellik Tipleri</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Kullanıcılar</span><i class="angle fe fe-chevron-down"></i></a>
                            <ul class="slide-menu">
                                <li class="panel sidetab-menu">
                                    <div class="panel-body tabs-menu-body p-0 border-0">
                                        <div class="tab-content">
                                            <div class="tab-pane tab-content-show active" id="side11">
                                                <ul class="sidemenu-list">
                                                    <li><a class="slide-item" href="/kullanicilar/kullanilan-diller">Yapım Grubu</a></li>
                                                    <li><a class="slide-item" href="/kullanicilar/yetenek-temsilcileri">Yetenek Temsilcileri</a></li>
                                                    <li><a class="slide-item" href="/kullanicilar/kayit-gruplari">Performer Listesi</a></li>
                                                    <li><a class="slide-item" href="/kullanicilar/yeni-kullanici">Yeni Kullanıcı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <!-- main-sidebar -->
        <!-- main-content -->
        <div class="main-content app-content">

            <!-- container -->
            <div class="main-container container-fluid">


                @RenderBody()
            </div>
            <!-- Container closed -->
        </div>
        <!-- main-content closed -->
        <!-- Footer opened -->
        <div class="main-footer ht-45">
            <div class="container-fluid pd-t-0 ht-100p">
                <span> Copyright © 2024 <a href="javascript:void(0);" class="text-primary">Odi Admin</a>. Designed with <span class="fa fa-heart text-danger"></span>  All rights reserved.</span>
            </div>
        </div>
        <!-- Footer closed -->
    </div>
    <!-- page closed -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    @*   <!-- JQuery min js -->
    <script src="~/plugins/jquery/jquery.min.js"></script> *@

    @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Bundle js -->
    <script src="~/plugins/bootstrap/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Ionicons js -->
    <script src="~/plugins/ionicons/ionicons.js"></script>

    <!-- Moment js -->
    <script src="~/plugins/moment/moment.js"></script>

    <!-- INTERNAL Summernote Editor js -->
    <script src="~/plugins/summernote-editor/summernote1.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

    @RenderSection("scripts", false)

    <!-- JQuery sparkline js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--- Internal Sampledata js -->
    <script src="~/js/chart.flot.sampledata.js"></script>
    <!-- Eva-icons js -->
    <script src="~/js/eva-icons.min.js"></script>

    <!-- P-scroll js -->
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/p-scroll.js"></script>




    <!-- Sidebar js -->
    <script src="~/plugins/side-menu/sidemenu.js"></script>

    <!-- sticky js -->
    <script src="~/js/sticky.js"></script>

    <!--- Index js -->
    <script src="~/js/script.js"></script>
    <!--circle-progress-->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- ApexChart -->
    <script src="~/js/apexcharts.min.js"></script>


    <!-- Custom js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/5.1.0/js/bootstrap-toaster.min.js" integrity="sha512-LKHDVlxKQ+ChADdnDsXJYU7LaUdGJk1X+Ab2rbFU11cqm+vhp2PGOWQIrl6K1NRZxHAdwPOYLPINPvUIEyBtVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("customscripts", false) *@
    <!-- JQuery min js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--- Datepicker js -->
    <script src="~/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="~/plugins/bootstrap/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Ionicons js -->
    <script src="~/plugins/ionicons/ionicons.js"></script>

    @RenderSection("scripts", false)
    <!-- JQuery sparkline js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!--- Internal Sampledata js -->
    <script src="~/js/chart.flot.sampledata.js"></script>

    <!-- Eva-icons js -->
    <script src="~/js/eva-icons.min.js"></script>

    <!-- Moment js -->
    <script src="~/plugins/moment/moment.js"></script>

    <!--- Perfect-scrollbar js -->
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!-- Sidebar js -->
    <script src="~/plugins/side-menu/sidemenu.js"></script>

    <!-- sticky js -->
    <script src="~/js/sticky.js"></script>

    <!--- Scripts js -->
    <script src="~/js/script.js"></script>

    <!--circle-progress-->
    <script src="~/js/vendors/circle-progress.min.js"></script>

    <!-- ApexChart -->
    <script src="~/js/apexcharts.min.js"></script>

    <!--- Index js -->
    <script src="~/js/index3.js"></script>

    <!--themecolor js-->
    <script src="~/js/themecolor.js"></script>

    <!--swither-styles js-->
    <script src="~/js/swither-styles.js"></script>


    <!-- Custom js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/5.1.0/js/bootstrap-toaster.min.js" integrity="sha512-LKHDVlxKQ+ChADdnDsXJYU7LaUdGJk1X+Ab2rbFU11cqm+vhp2PGOWQIrl6K1NRZxHAdwPOYLPINPvUIEyBtVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Custom js -->
    <script src="~/js/custom.js"></script>
    @RenderSection("customscripts", false)
    <script>
        var app = angular.module('myApp', ['ngAnimate']);
        app.controller('myCtrl', function ($scope, $http) {
            var parent = $scope;
            @RenderSection("angularScripts",false)

        });
    </script>
</body>
</html>